{% extends 'base.html' %}
{% load static %}
{% block body %}
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <img src="{{ movie.img.url }}" alt="{{ movie.name }}" width="600" height="500">
      </div>
      <div class="col-md-5">
        <center><h2 style="font-weight:bold;">{{ movie.name }}</h2></center>
        <h4>{{ movie.desc }}</h4>
        <p>Released: {{ movie.year }}</p>
          <center>
        <a class="btn btn-warning" href="{% url 'app1:update' movie.id %}">Edit</a>
        <a class="btn btn-danger" href="{% url 'app1:delete' movie.id %}">Delete</a>
              </center>
      </div>
    </div>
  </div>
{% endblock %}
